
/*#############################  Mode background svg ###############################################################################*/


.box-show-area-bg 												{	padding-top:10px;
}
.box-show-area-bg span											{	display:inline-block; min-height:70px; width:70px; margin-right:10px;
}
.icooth-show													{	/*icoonies  icoo-showarea:true;*/ background:url("../svg/icooth.svg") no-repeat center left; 
}
.coffee-show													{	/*icoonies  icoo-showarea:true;*/ background:url("../svg/coffee.svg") no-repeat center left;  	
}



.box-custom-area-bg span										{	display:inline-block; min-height:100px; width:100px;
}
.icooth-custom-one,
.icooth-custom-two,
.icooth-custom-tree,
.icooth-custom-four,
.icooth-custom-five												{	/*icoonies*/ background:url("../svg/icooth.svg") no-repeat center left; 
}
.icooth-custom-two #icoo-area-4									{	/*icoonies*/ fill:#FF0; stroke-width:5px; stroke:#a68d00;
}
.icooth-custom-two #icoo-area-16,
.icooth-custom-two #icoo-area-18								{	/*icoonies*/ fill:#4b0c00;
}
.icooth-custom-two #icoo-area-5,
.icooth-custom-two #icoo-area-6								    {	/*icoonies*/ fill:#900;
}
.icooth-custom-tree #icoo-area-2								{	/*icoonies*/ fill:#eeffb5; stroke-width:9; stroke:#237100; 
}
.icooth-custom-tree #icoo-area-16,
.icooth-custom-tree #icoo-area-18,
.icooth-custom-tree #icoo-area-15,
.icooth-custom-tree #icoo-area-14								{	/*icoonies*/ fill:none;	
}
.icooth-custom-tree #icoo-area-17,
.icooth-custom-tree #icoo-area-19								{	/*icoonies*/ fill:#237100;	
}
.icooth-custom-tree #icoo-area-4								{	/*icoonies*/ fill:#174c00; 
}
.icooth-custom-tree #icoo-area-3,
.icooth-custom-tree #icoo-area-7,
.icooth-custom-tree #icoo-area-8,
.icooth-custom-tree #icoo-area-9								{	/*icoonies*/ fill:#004c48;	
}
.icooth-custom-four *                                           {   /*icoonies*/ fill:none; stroke:#ca7ca0; stroke-width:8px;   
}
.icooth-custom-four #icoo-area-1                                {   /*icoonies*/ fill:#ffcce4;  
}
.icooth-custom-five *                                           {   /*icoonies*/ fill:none;  
}
.icooth-custom-five #icoo-area-2                                {   /*icoonies*/ stroke:#9b007e; stroke-width:25; 
}
.icooth-custom-five #icoo-area-4								{	/*icoonies*/ fill:#9b007e;
}


.list-bg                                                        {   display:table; table-layout:fixed; width:100%; margin-bottom:20px; border-collapse:collapse;
}
.list-bg li                                                     {   display:table-cell; list-style:none; border:dotted 1px #9b007e;  text-align:center; padding:25px 0;
}
.bg-responsive-left                                             {   /*icoonies icoo-preserveAspectRatio:xMinYMin;*/ background:url("../svg/icooth.svg") no-repeat left center;
}
.bg-responsive-center                                           {   /*icoonies icoo-preserveAspectRatio:xMidYMin;*/ background: url("../svg/icooth.svg") no-repeat center center;
}
.bg-responsive-right                                            {   /*icoonies icoo-preserveAspectRatio:xMaxYMin;*/ background: url("../svg/icooth.svg") no-repeat right center;
}
.bg-responsive-custom                                           {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-responsive-custom ; icoo-class:bg-responsive-custom-svg;*/ background:url("../svg/icooth.svg") no-repeat 40px center;
}

.bg-fixed-left-top                                              {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-fixed-left-top; icoo-class:bg-fixed-left-top-svg;*/ background:url("../svg/icooth.svg") no-repeat left top; background-size:30px;
}
/*region RG-bg-fixed-left-top */
@media screen\0                                                 {
.bg-fixed-left-top-svg					    {	width:30px; 
}
}
/*endregion*/


.bg-fixed-left-center                                           {   /*icoonies icoo-preserveAspectRatio:xMinYMid; icoo-region:RG-bg-fixed-left-center; icoo-class:bg-fixed-left-center-svg;*/ background:url("../svg/icooth.svg") no-repeat left center; background-size:30px;
}
/*region RG-bg-fixed-left-center */
@media screen\0                                                 {
.bg-fixed-left-center-svg					{	width:30px; 
}
}
/*endregion*/

.bg-fixed-left-bottom                                           {   /*icoonies icoo-preserveAspectRatio:xMinYMax; icoo-region:RG-bg-fixed-left-bottom; icoo-class:bg-fixed-left-bottom-svg;*/ background:url("../svg/icooth.svg") no-repeat left bottom; background-size:30px;
}
/*region RG-bg-fixed-left-bottom */
@media screen\0                                                 {
.bg-fixed-left-bottom-svg					{	width:30px; 
}
}
/*endregion*/

.bg-fixed-left-custom                                           {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-fixed-left-custom; icoo-class:bg-fixed-left-custom-svg;*/ background:url("../svg/icooth.svg") no-repeat left 10px; background-size:30px;
}
/*region RG-bg-fixed-left-custom */
@media screen\0                                                 {
.bg-fixed-left-custom-svg					{	width:30px; 
}
}
/*endregion*/

.bg-fixed-left-top                                              {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-fixed-left-top; icoo-class:bg-fixed-left-top-svg;*/ background:url("../svg/icooth.svg") no-repeat left top; background-size:30px;
}
/*region RG-bg-fixed-left-top */
@media screen\0                                                 {
.bg-fixed-left-top-svg						{	width:30px; 
}
}
/*endregion*/

.bg-fixed-center-top                                            {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-fixed-center-top; icoo-class:bg-fixed-center-top-svg;*/ background:url("../svg/icooth.svg") no-repeat center top; background-size:30px;
}
/*region RG-bg-fixed-center-top */
@media screen\0                                                 {
.bg-fixed-center-top-svg					{	width:30px; position:absolute; left:50%; margin-left:-15px; 
}
}
/*endregion*/
.bg-fixed-center-center                                         {   /*icoonies icoo-preserveAspectRatio:xMinYMid; icoo-region:RG-bg-fixed-center-center; icoo-class:bg-fixed-center-center-svg;*/ background:url("../svg/icooth.svg") no-repeat center center; background-size:30px;
}
/*region RG-bg-fixed-center-center */
@media screen\0 {
.bg-fixed-center-center-svg										{	width:30px; position:absolute; left:50%; margin-left:-15px; 
}
}
/*endregion*/

.bg-fixed-center-bottom                                         {   /*icoonies icoo-preserveAspectRatio:xMinYMax; icoo-region:RG-bg-fixed-center-bottom; icoo-class:bg-fixed-center-bottom-svg;*/ background:url("../svg/icooth.svg") no-repeat center bottom; background-size:30px;
}
/*region RG-bg-fixed-center-bottom */
@media screen\0                                                 {
.bg-fixed-center-bottom-svg					{	width:30px; position:absolute; left:50%; margin-left:-15px; 
}
}
/*endregion*/

.bg-fixed-center-custom                                         {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-fixed-center-custom; icoo-class:bg-fixed-center-custom-svg;*/ background:url("../svg/icooth.svg") no-repeat center 5px; background-size:30px;
}
/*region RG-bg-fixed-center-custom */
@media screen\0                                                 {
.bg-fixed-center-custom-svg					{	width:30px; position:absolute; left:50%; margin-left:-15px; 
}
}
/*endregion*/

.bg-fixed-right-top                                             {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-fixed-right-top; icoo-class:bg-fixed-right-top-svg;*/ background:url("../svg/icooth.svg") no-repeat right top; background-size:30px;
}
/*region RG-bg-fixed-right-top */
@media screen\0 {
.bg-fixed-right-top-svg											{	width:30px; position:absolute; right:0; 
}
}
/*endregion*/
.bg-fixed-right-center                                          {   /*icoonies icoo-preserveAspectRatio:xMinYMid; icoo-region:RG-bg-fixed-right-center; icoo-class:bg-fixed-right-center-svg;*/ background:url("../svg/icooth.svg") no-repeat right center; background-size:30px;
}
/*region RG-bg-fixed-right-center */
@media screen\0 {
.bg-fixed-right-center-svg										{	width:30px; position:absolute; right:0;  
}
}
/*endregion*/
.bg-fixed-right-bottom                                          {   /*icoonies icoo-preserveAspectRatio:xMinYMax; icoo-region:RG-bg-fixed-right-bottom; icoo-class:bg-fixed-right-bottom-svg;*/ background:url("../svg/icooth.svg") no-repeat right bottom; background-size:30px;
}
/*region RG-bg-fixed-right-bottom */
@media screen\0 {
.bg-fixed-right-bottom-svg										{   width:30px; position:absolute; right:0; 
}
}
/*endregion*/

.bg-fixed-right-custom                                          {   /*icoonies icoo-preserveAspectRatio:xMinYMin; icoo-region:RG-bg-fixed-right-custom; icoo-class:bg-fixed-right-custom-svg;*/ background:url("../svg/icooth.svg") no-repeat right 30px; background-size:30px;
}
/*region RG-bg-fixed-right-custom */
@media screen\0 {
.bg-fixed-right-custom-svg										{	width:30px; position:absolute; right:0;  
}
}
/*endregion*/



.link-bg                                                        {   display:block; min-height:30px; vertical-align: middle; padding:20px 0 0 50px; max-width:7em;
}
.link-bg:link													{	/*icoonies icoo-preserveAspectRatio:xMinYMin;*/ background:url("../svg/coffee.svg") no-repeat left center; color:#9b007e;
}
.link-bg:visited												{	/*icoonies icoo-preserveAspectRatio:xMinYMin;*/ background:url("../svg/coffee.svg") no-repeat left center;  color:#ac8ea6; font-style:italic;
}
.link-bg:visited *												{	/*icoonies*/ fill:#ac8ea6;
}
.link-bg:hover													{	/*icoonies icoo-region:RG-link-bg-hover; icoo-class:link-bg-hover-svg; icoo-preserveAspectRatio:xMinYMin;*/ background:url("../svg/coffee.svg") no-repeat left center;  color:#ff6a00;
}
.link-bg:hover #icoo-area-3										{	/*icoonies*/ transform: translate(5%, 5%) rotate(-12deg) scale(.8); fill:#ff6a00;
}
.link-bg:hover #icoo-area-1										{	/*icoonies*/ transform: translate(5%, 5%) rotate(-12deg) scale(.8); fill:#7c2f00;  
}
.link-bg:hover #icoo-area-2										{	/*icoonies*/ fill:#ff6a00;  
}
.link-bg:hover #icoo-area-4,
.link-bg:hover #icoo-area-5                                  	{   /*icoonies*/ display:none;
}
/*region RG-link-bg-hover */
@media screen\0 {
    .link-bg-hover-svg                                          {   transform: translate(-5%, -10%) rotate(-12deg) scale(.8);
    }
}
/*endregion*/
.link-bg:active 												{	/*icoonies icoo-preserveAspectRatio:xMinYMin;*/ background:url("../svg/coffee.svg") no-repeat left center;  color:#F0F;
}
.link-bg:active *												{	/*icoonies*/ fill:#F0F;
}
.link-bg:active #icoo-area-4,
.link-bg:active #icoo-area-5                                  	{   /*icoonies*/ display:none;
}
.link-bg:active #icoo-area-3									{	/*icoonies*/ transform: translate(5%, 5%) rotate(-12deg) scale(.8) ; -ms-transform: translate(5%, 5%) rotate(-12deg) scale(.8) ; 
}
.link-bg:active #icoo-area-1									{	/*icoonies*/ transform: translate(5%, 5%) rotate(-12deg) scale(.8);  -ms-transform: translate(5%, 5%) rotate(-12deg) scale(.8) ;    
}
.link-bg:focus 													{	/*icoonies icoo-preserveAspectRatio:xMinYMin;*/ background:url("../svg/coffee.svg") no-repeat left center;  color:#0FF; font-style:italic;
}
.link-bg:focus *												{	/*icoonies*/ stroke:#0FF; stroke-width:8; opacity:.8; -ms-transform: skew(-5deg,0); /* IE 9 */ -webkit-transform: skew(-5deg,0); /* Chrome, Safari, Opera */ transform: skew(-5deg,0);
}



.list-coffee													{	display:table;	
}
.list-coffee li													{	height:60px; text-align:left;  padding:0 40px 0 70px;  display:table-cell; vertical-align:middle; list-style:none; 
}
.list-coffee li:nth-child(1),
.list-coffee li:nth-child(2),
.list-coffee li:nth-child(3)									{	/*icoonies icoo-preserveAspectRatio:xMinYMin;*/list-style:none; background:url("../svg/coffee.svg") no-repeat left bottom; font-weight:bold;  
}
.list-coffee li:nth-child(1)									{	color:#d91a00; 
}
.list-coffee li:nth-child(1) #icoo-area-4,
.list-coffee li:nth-child(1) #icoo-area-5						{	/*icoonies*/ fill:#dcbb9e; stroke:#8d5f37; stroke-width:8;
}
.list-coffee li:nth-child(1) #icoo-area-3,
.list-coffee li:nth-child(1) #icoo-area-2						{	/*icoonies*/ fill:#ebc655; stroke:#c70500; stroke-width:9;  	
}
.list-coffee li:nth-child(1) #icoo-area-1						{	/*icoonies*/ fill:#9f2900; 
}
.list-coffee li:nth-child(2)									{	color:#006fbd; 
}
.list-coffee li:nth-child(2) #icoo-area-4,
.list-coffee li:nth-child(2) #icoo-area-5						{	/*icoonies*/ display:none;
}
.list-coffee li:nth-child(2) #icoo-area-3,
.list-coffee li:nth-child(2) #icoo-area-2						{	/*icoonies*/ fill:#006fbd; stroke:#8fdeef; stroke-width:9;  	
}
.list-coffee li:nth-child(2) #icoo-area-1						{	/*icoonies*/ fill:#ceebff; 
}
.list-coffee li:nth-child(3) 						            {	color:#ff6a00;
}
.list-coffee li:nth-child(3) #icoo-area-2						{	/*icoonies*/ display:none;
}
.list-coffee li:nth-child(3) #icoo-area-3						{	/*icoonies*/ fill:#ff6a00;
}
.list-coffee li:nth-child(3) #icoo-area-4,
.list-coffee li:nth-child(3) #icoo-area-5						{	/*icoonies*/ fill:#4b0c00;
}
.list-coffee li:nth-child(4) 						            {	/*icoonies icoo-region:RG-coffeee-4; icoo-class:coffeee-4-svg; icoo-preserveAspectRatio:xMinYMin;*/  background:url("../svg/coffee.svg") no-repeat left bottom; color:#237100; font-weight:bold;
}
.list-coffee li:nth-child(4) #icoo-area-3 						{	/*icoonies*/ -webkit-transform:translate(250px, 630px) rotate(-140deg) scale(.8); -moz-transform:translate(250px, 630px) rotate(-140deg) scale(.8);  transform:translate(250px, 630px) rotate(-140deg) scale(.8); fill:#237100;    
}
.list-coffee li:nth-child(4) #icoo-area-2,
.list-coffee li:nth-child(4) #icoo-area-5                        {   /*icoonies*/ display:none;
}
.list-coffee li:nth-child(4) #icoo-area-4                        {   /*icoonies*/ transform:translate(0, 678px) rotate(-90deg) scale(1.5); fill:#800000; 
}
/*for IE*/
/*region RG-coffeee-4*/
@media screen\0 {
    .coffeee-4-svg                                               {   transform:translate(-110px, -40px) rotate(-130deg) scale(.8);
    }
    .coffeee-4-svg #icoo-area-4                                  {   display:none;
    }
}
/*endregion*/

@media screen and (min-width:0) and (max-width:700px) {
.list-coffee													{	display:block; 	
}
.list-coffee li													{	display:block; margin-bottom:20px; float:left; height:auto !important; min-height:30px; padding-top:20px;
}
}



.icooth-animate                                                 {   /*icoonies icoo-region:RG-icooth-animate; icoo-preserveAspectRatio:xMaxYMin;*/ background:url("../svg/icooth.svg") no-repeat center right;  float:left; min-height:120px; width:120px;  
} 
.icooth-animate #icoo-area-16,
.icooth-animate #icoo-area-18                                   {   /*icoonies*/ animation:icootheyeanimate 3s ease-in-out infinite; /* CSS3 */ -moz-animation:icootheyeanimate 3s ease-in-out infinite; /* Firefox */ -webkit-animation:icootheyeanimate 3s ease-in-out infinite; /* Webkit */ 
}
.icooth-animate #icoo-area-9,
.icooth-animate #icoo-area-13                                   {   /*icoonies*/ animation:icoothmouthanimate 1s infinite alternate ease-in-out;  -moz-animation:icoothmouthanimate 1s infinite alternate ease-in-out; -webkit-animation:icoothmouthanimate 1s infinite alternate ease-in-out;
}
.icooth-animate #icoo-area-7                                    {   /*icoonies*/ animation:eyebrows 1s infinite alternate ease-in-out;  -moz-animation:eyebrows 1s infinite alternate ease-in-out; -webkit-animation:eyebrows 1s infinite alternate ease-in-out; 
}
.icooth-animate #icoo-area-2                                    {   /*icoonies*/ animation:colorface 20s ease-in-out infinite;  -moz-animation:colorface 20s ease-in-out infinite; -webkit-animation:colorface 20s ease-in-out infinite; 
}
.icooth-animate #icoo-area-4                                    {   /*icoonies*/ animation:colorhair 10s ease-in-out infinite;  -moz-animation:colorhair 10s ease-in-out infinite; -webkit-animation:colorhair 10s ease-in-out infinite; 
}
/*region RG-icooth-animate */
@keyframes icootheyeanimate                                     { 
	95%                         { fill:#008dd3; }
	98%                         { fill:#ffdad7; }
}
@-moz-keyframes icootheyeanimate                                { 
	95%                         { fill:#008dd3; }
	98%                         { fill:#ffdad7; }
}
@-webkit-keyframes icootheyeanimate                             { 
	95%                         { fill:#008dd3; }
	98%                         { fill:#ffdad7; }
}


@keyframes icoothmouthanimate                                   { 
	0%                          { transform:none;}
	50%                         { transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);}
    70%                         { transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);}
}
@-moz-keyframes icoothmouthanimate                              {
	0%     { -moz-transform:none;  }
	50%    { -moz-transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);   }
    70%    { -moz-transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);    }
}
@-webkit-keyframes icoothmouthanimate                           { 
	0%     { -webkit-transform:none; }
	50%    { -webkit-transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);   }
    70%    { -webkit-transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);    }
}


@keyframes eyebrows                                             { 
    to                      { transform:translate(0, -3px)  }
}
@-moz-keyframes eyebrows                                        { 
    to                      { -moz-transform:translate(0, -3px) }
}
@-webkit-keyframes eyebrows                                     { 
    to                      { -webkit-transform:translate(0, -3px) }
}


@keyframes colorface                                            { 
    0%                      { fill:#ffdad7; }
    50%                     { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                    { fill:#ffdad7; }
}
@-moz-keyframes colorface                                       { 
    0%                      { fill:#ffdad7; }
    50%                     { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                    { fill:#ffdad7; }
}
@-webkit-keyframes colorface                                    { 
    0%                      { fill:#ffdad7; }
    50%                     { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                    { fill:#ffdad7; }
}


@keyframes colorhair                                            { 
    0%                      { fill:#9b007e; }
    50%                     { fill:#006607;	  }
    100%                    { fill:#9b007e; }
}
@-moz-keyframes colorhair                                       { 
    0%                      { fill:#9b007e; }
    50%                     { fill:#006607;	 }
    100%                    { fill:#9b007e; }
}
@-webkit-keyframes colorhair                                    { 
    0%                      { fill:#9b007e; }
    50%                     { fill:#006607;	  }
    100%                    { fill:#9b007e; }
}
/*endregion*/




.icooth-stroke-animate                                          {   /*icoonies icoo-region:RG-icooth-stroke-animate; icoo-preserveAspectRatio:xMaxYMin;*/ background:url("../svg/icooth.svg") no-repeat center right;  float:left; min-height:120px; width:120px;  
} 
.icooth-stroke-animate *                                        {   /*icoonies*/ fill:none;  
}
.icooth-stroke-animate *                                        {   /*icoonies*/ stroke:#9b007e; stroke-width:5; stroke-dasharray:500; stroke-dashoffset:500; animation: strokeanimate 5s linear infinite; -moz-animation: strokeanimate 5s linear infinite;  -webkit-animation: strokeanimate 5s linear infinite;    
}
/*region RG-icooth-stroke-animate*/
@keyframes strokeanimate                                        {
  from                      { stroke-dashoffset: 1000;}
  to                        { stroke-dashoffset: 0;}
}
@-moz-keyframes strokeanimate                                   { 
  from                      { stroke-dashoffset: 1000;}
  to                        { stroke-dashoffset: 0;}
}
@-webkit-keyframes strokeanimate                                { 
  from                      { stroke-dashoffset: 1000;}
  to                        { stroke-dashoffset: 0;}
}
/*endregion*/




.pupu-animate                                                   {   /*icoonies icoo-region:RG-pupu-animate; icoo-preserveAspectRatio:xMaxYMin;*/ background: url("../svg/pupu.svg") no-repeat center right; float: left; min-height: 120px;  width: 120px;
}
.pupu-animate #icoo-area-2                                      {   /*icoonies*/ fill:#800000; 
}
.pupu-animate #icoo-area-8                                      {   /*icoonies*/ animation:fly1 1s linear infinite;  -moz-animation:fly1 1s linear infinite; -webkit-animation:fly1 1s linear infinite; 
}
.pupu-animate #icoo-area-9                                      {   /*icoonies*/ animation:fly2 1s linear infinite;  -moz-animation:fly2 1s linear infinite; -webkit-animation:fly2 1s linear infinite; 
}
.pupu-animate #icoo-area-7,
.pupu-animate #icoo-area-6,
.pupu-animate #icoo-area-1                                      {   /*icoonies*/ animation:show 2s 1s linear infinite;  -moz-animation:show 2s 1s linear infinite; -webkit-animation:show 2s 1s linear infinite; opacity:0; 
}
/*region RG-pupu-animate */
@keyframes fly1                                                 { 
   from                     { transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@-moz-keyframes fly1                                            {
   from                     { -moz-transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { -moz-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@-webkit-keyframes fly1                                         { 
   from                     { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}


@keyframes fly2                                                 { 
   from                     { transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { transform: rotate(360deg) translateX(-40px) rotate(-360deg); }
}
@-moz-keyframes fly2                                            { 
   from                     { -moz-transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { -moz-transform: rotate(360deg) translateX(-30px) rotate(-360deg); }
}
@-webkit-keyframes fly2 { 
   from                     { -webkit-transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { -webkit-transform: rotate(360deg) translateX(-30px) rotate(-360deg); }
}


@keyframes show                                                 {
   from                     { opacity:0; }
   to                       { opacity:1 }
}
@-moz-keyframes show                                            { 
   from                     { opacity:0; }
   to                       { opacity:1 }
}
@-webkit-keyframes show                                         { 
   from                     { opacity:0; }
   to                       { opacity:1 }
}
/*endregion*/



.delete-btn                                                     {   /*icoonies icoo-preserveAspectRatio:xMinYMin; */   background:url("../svg/delete.svg") no-repeat left top; margin:60px 0 0 20px; position:relative; background-color:#fedded;  border:0; border:solid 1px #c5799e; border-radius:10px; padding:15px 10px 15px 40px; color:#9b007e; font-weight:bold; cursor:pointer; transition:background-color 1s ease; 
}
.delete-btn:hover                                               {   /*icoonies icoo-region:RG-delete-btn-hover; icoo-class:delete-btn-svg; icoo-preserveAspectRatio:xMinYMin;*/   background:url("../svg/delete.svg") no-repeat left top; background-color:#fff; color:#000; 
}
/*region RG-delete-btn-hover */
.delete-btn-svg #icoo-area-1                                    {   animation: open 1s infinite alternate ease-in-out; -webkit-animation: open 1s infinite alternate ease-in-out; -moz-animation: open 1s infinite alternate ease-in-out;  
}
@keyframes open                                                 { 
   to                       { transform: rotate(-20deg) translate(-10px, 0) rotate(0);  }
}
@-moz-keyframes open                                            { 

   to                       { -moz-transform: rotate(-20deg) translate(-10px, 0) rotate(0);   }
}
@-webkit-keyframes open                                         { 
   to                       { -webkit-transform: rotate(-20deg) translate(-10px, 0) translateY(0) rotate(0);  }
}
/*endregion*/



.list-pseudo-elements li										{	display:table; float:left; margin-right:30px; font-size:.9em !important;
}
.list-pseudo-elements ul                                        {   padding-top:15px;
}
.list-pseudo-elements ul li                                     {   border-right:solid 1px #000; padding-right:10px; margin-right:10px;
}
.cont-generate span:after										{	/*icoonies icoo-region:RG-cont-generate; icoo-class:cont-generate-svg;*/ content:"content generate"; display:table-cell; vertical-align:middle; background:url("../svg/cell.svg") no-repeat left center; background-size:50px; height:50px; padding-left:55px; 
}
/*IE only content generate*/
@media screen\0                                                 {
	.cont-generate span:after									{	background-size:100%;
	}
}
/*region RG-cont-generate*/
@media screen\0                                                 {
    .cont-generate-svg												{	width:50px;
    }
}
/*endregion*/
.cont-generate span:after #icoo-area-1,
.cont-generate span:after #icoo-area-2,
.cont-generate span:after #icoo-area-3,
.cont-generate span:after #icoo-area-4							{	/*icoonies*/ fill:#990087;
}
.cont-generate span:after #icoo-area-5							{	/*icoonies*/ fill:#E20057;
}
.cont-generate span:after #icoo-area-6							{	/*icoonies*/ stroke:#7A00AD; 
}

.first-elements li:first-child                                  {   /*icoonies icoo-preserveAspectRatio:xMinYMin;*/ background:url("../svg/cell.svg") no-repeat left center; padding-left:40px;
}
.first-letter::first-letter                                     {   color:red; font-weight:bold;
}


.bg-media-query                                                 {   /*icoonies icoo-region:RG-media-query; icoo-class:media-query-svg; icoo-preserveAspectRatio:xMaxYMin;*/ display:inline-block; width:250px; height:250px; margin-top:15px; background:url("../svg/icooth.svg") no-repeat center left #ffc0df;    
}
@media screen and (min-width:0) and (max-width:800px)           {
    .bg-media-query                 {   width:220px; height:220px;
    }
}
@media screen and (min-width:0) and (max-width:700px)           {
    .bg-media-query                 {   width:180px; height:180px;
    }
}
@media screen and (min-width:0) and (max-width:600px)           {
    .bg-media-query                 {   width:150px; height:150px;
    }
}
@media screen and (min-width:0) and (max-width:500px)           {
    .bg-media-query                 {   width:100px; height:100px;
    }
}
@media screen and (min-width:0) and (max-width:400px)           {
    .bg-media-query                 {   width:80px; height:80px;
    }
}
/*region RG-media-query*/
@media screen and (min-width:0) and (max-width:220px)           {
    .media-query-svg *              {   opacity:.4; 
    }
}
@media screen and (min-width:0) and (max-width:180px)           {
    .media-query-svg *              {   opacity:.2; 
    }
    .media-query-svg #icoo-area-2   {   fill:none; stroke:#9b007e; stroke-width:15; 
    }
}
@media screen and (min-width:0) and (max-width:150px)           {
    .media-query-svg *              {   opacity:.2; 
    }
    .media-query-svg #icoo-area-2   {   stroke-width:25; 
    }
}
@media screen and (min-width:0) and (max-width:100px)           {
    .media-query-svg *              {   opacity:0; 
    }
    .media-query-svg #icoo-area-2,
    .media-query-svg #icoo-area-4    {   opacity:.5; 
    }
}
@media screen and (min-width:0) and (max-width:80px)            {
    .media-query-svg #icoo-area-2,
    .media-query-svg #icoo-area-4   {   opacity:1; 
    }
}
/*endregion*/





/*#############################  Mode image svg ###############################################################################*/


#icooth-area,
#coffee-area                                                    {   width:70px; display:inline-block; margin:10px 20px 0 0;
}


.box-custom-area-img img                                        {   width:100px; display:inline-block; margin:10px 20px 0 0;
}
.icooth-blond #icoo-area-4					                    {	/*icoonies*/ fill:#FF0; stroke-width:5px; stroke:#a68d00;
}
.icooth-blond  #icoo-area-16,
.icooth-blond  #icoo-area-18				                    {	/*icoonies*/ fill:#4b0c00;
}
.icooth-blond  #icoo-area-5,
.icooth-blond  #icoo-area-6					                    {	/*icoonies*/ fill:#900;
}
.icooth-green #icoo-area-2								        {	/*icoonies*/ fill:#eeffb5; stroke-width:9; stroke:#237100; 
}
.icooth-green #icoo-area-16,
.icooth-green #icoo-area-18,
.icooth-green #icoo-area-15,
.icooth-green #icoo-area-14								        {	/*icoonies*/ fill:none;	
}
.icooth-green #icoo-area-17,
.icooth-green #icoo-area-19								        {	/*icoonies*/ fill:#237100;	
}
.icooth-green #icoo-area-4								        {	/*icoonies*/ fill:#174c00; 
}
.icooth-green #icoo-area-3,
.icooth-green #icoo-area-7,
.icooth-green #icoo-area-8,
.icooth-green #icoo-area-9								        {	/*icoonies*/ fill:#004c48;	
}

.icooth-picture *                                               {   /*icoonies*/ fill:none; stroke:#ca7ca0; stroke-width:8px;   
}
.icooth-picture #icoo-area-1                                    {   /*icoonies*/ fill:#ffcce4;  
}
.icooth-logo *                                                  {   /*icoonies*/ fill:none;  
}
.icooth-logo #icoo-area-2                                       {   /*icoonies*/ stroke:#9b007e; stroke-width:25; 
}
.icooth-logo #icoo-area-4								        {	/*icoonies*/ fill:#9b007e;
}

.img-responsive                                                 {    float:left; width:10% !important; 
}
.img-fixed                                                      {   /*icoonies*/ float:right; width:40px !important; 
}
.img-fixed *                                                    {   /*icoonies*/ fill:#9b007e; 
}

.icooth-img-animate                                             {   /*icoonies icoo-region:RG-icooth-img-animate;*/ float:left; width:120px !important;  
} 
.icooth-img-animate  #icoo-area-16,
.icooth-img-animate  #icoo-area-18                              {   /*icoonies*/ animation:icootheyeanimate 3s ease-in-out infinite; /* CSS3 */ -moz-animation:icootheyeanimate 3s ease-in-out infinite; /* Firefox */ -webkit-animation:icootheyeanimate 3s ease-in-out infinite; /* Webkit */ 
}
.icooth-img-animate  #icoo-area-9,
.icooth-img-animate  #icoo-area-13                              {   /*icoonies*/ animation:icoothmouthanimate 1s infinite alternate ease-in-out;  -moz-animation:icoothmouthanimate 1s infinite alternate ease-in-out; -webkit-animation:icoothmouthanimate 1s infinite alternate ease-in-out;
}
.icooth-img-animate  #icoo-area-7                               {   /*icoonies*/ animation:eyebrows 1s infinite alternate ease-in-out;  -moz-animation:eyebrows 1s infinite alternate ease-in-out; -webkit-animation:eyebrows 1s infinite alternate ease-in-out; 
}
.icooth-img-animate  #icoo-area-2                               {   /*icoonies*/ animation:colorface 20s ease-in-out infinite;  -moz-animation:colorface 20s ease-in-out infinite; -webkit-animation:colorface 20s ease-in-out infinite; 
}
.icooth-img-animate  #icoo-area-4                               {   /*icoonies*/ animation:colorhair 10s ease-in-out infinite;  -moz-animation:colorhair 10s ease-in-out infinite; -webkit-animation:colorhair 10s ease-in-out infinite; 
}
/*region RG-icooth-img-animate */
@keyframes icootheyeanimate                                     { 
	95%                 { fill:#008dd3; }
	98%                 { fill:#ffdad7;  }
}
@-moz-keyframes icootheyeanimate {
	95%                 { fill:#008dd3; }
	98%                 { fill:#ffdad7;  }
}
@-webkit-keyframes icootheyeanimate { 
	95%                 { fill:#008dd3; }
	98%                 { fill:#ffdad7;  }
}

@keyframes icoothmouthanimate                                   { 
	0%                  { transform:none;  }
	50%                 { transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);   }
    70%                 { transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);    }
}
@-moz-keyframes icoothmouthanimate                              { 
	0%                  { -moz-transform:none;  }
	50%                 { -moz-transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);   }
    70%                 { -moz-transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);    }
}
@-webkit-keyframes icoothmouthanimate                           { 
	0%                  { -webkit-transform:none; }
	50%                 { -webkit-transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);   }
    70%                 { -webkit-transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);    }
}

@keyframes eyebrows                                             { 
    to                  { transform:translate(0, -3px)  }
}
@-moz-keyframes eyebrows { 
    to                  { -moz-transform:translate(0, -3px) }
}
@-webkit-keyframes eyebrows                                     {
    to                  { -webkit-transform:translate(0, -3px) }
}

@keyframes colorface                                            { 
    0%                  { fill:#ffdad7; }
    50%                 { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                { fill:#ffdad7; }
}
@-moz-keyframes colorface                                       { 
    0%                  { fill:#ffdad7; }
    50%                 { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                { fill:#ffdad7; }
}
@-webkit-keyframes colorface                                    { 
    0%                  { fill:#ffdad7; }
    50%                 { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                { fill:#ffdad7; }
}

@keyframes colorhair                                            {
    0%                  { fill:#9b007e; }
    50%                 { fill:#006607;	  }
    100%                { fill:#9b007e; }
}
@-moz-keyframes colorhair                                       { 
    0%                  { fill:#9b007e; }
    50%                 { fill:#006607;	  }
    100%                { fill:#9b007e; }
}
@-webkit-keyframes colorhair                                    { 
    0%                  { fill:#9b007e; }
    50%                 { fill:#006607;	  }
    100%                { fill:#9b007e; }
}
/*endregion*/


.icooth-img-stroke-animate                                      {   /*icoonies icoo-region:RG-icooth-img-stroke-animate;*/ float:left; width:120px !important;  
} 
.icooth-img-stroke-animate *                                    {   /*icoonies*/ fill:none;  
}
.icooth-img-stroke-animate *                                    {   /*icoonies*/ stroke:#9b007e; stroke-width:5; stroke-dasharray:500; stroke-dashoffset:500; animation: strokeanimate 5s linear infinite; -moz-animation: strokeanimate 5s linear infinite;  -webkit-animation: strokeanimate 5s linear infinite;    
}
/*region RG-icooth-img-stroke-animate*/
@keyframes strokeanimate                                        {
  from          { stroke-dashoffset: 1000;}
  to            { stroke-dashoffset: 0;}
}
@-moz-keyframes strokeanimate { 
  from          { stroke-dashoffset: 1000;}
  to            { stroke-dashoffset: 0;}
}
@-webkit-keyframes strokeanimate { 
  from          { stroke-dashoffset: 1000;}
  to            { stroke-dashoffset: 0;}
}
/*endregion*/


.pupu-img-animate                                               {  /*icoonies icoo-region:RG-pupu-img-animate; icoo-preserveAspectRatio:xMaxYMin;*/  float: left;  width:120px !important;  
}
.pupu-img-animate #icoo-area-2                                  {  /*icoonies*/ fill:#800000; 
}
.pupu-img-animate #icoo-area-8                                  {  /*icoonies*/ animation:fly1 1s linear infinite;  -moz-animation:fly1 1s linear infinite; -webkit-animation:fly1 1s linear infinite; 
}
.pupu-img-animate #icoo-area-9                                  {  /*icoonies*/ animation:fly2 1s linear infinite;  -moz-animation:fly2 1s linear infinite; -webkit-animation:fly2 1s linear infinite; 
}
.pupu-img-animate #icoo-area-7,
.pupu-img-animate #icoo-area-6,
.pupu-img-animate #icoo-area-1                                  {  /*icoonies*/ animation:show 2s 1s linear infinite;  -moz-animation:show 2s 1s linear infinite; -webkit-animation:show 2s 1s linear infinite; opacity:0; 
}
/*region RG-pupu-img-animate */
@keyframes fly1                                                 { 
   from                     { transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@-moz-keyframes fly1                                            {
   from                     { -moz-transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { -moz-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@-webkit-keyframes fly1                                         { 
   from                     { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}


@keyframes fly2                                                 { 
   from                     { transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { transform: rotate(360deg) translateX(-40px) rotate(-360deg); }
}
@-moz-keyframes fly2                                            { 
   from                     { -moz-transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { -moz-transform: rotate(360deg) translateX(-30px) rotate(-360deg); }
}
@-webkit-keyframes fly2 { 
   from                     { -webkit-transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { -webkit-transform: rotate(360deg) translateX(-30px) rotate(-360deg); }
}


@keyframes show                                                 {
   from                     { opacity:0; }
   to                       { opacity:1 }
}
@-moz-keyframes show                                            { 
   from                     { opacity:0; }
   to                       { opacity:1 }
}
@-webkit-keyframes show                                         { 
   from                     { opacity:0; }
   to                       { opacity:1 }
}
/*endregion*/


.icooth-mediaq                                                      {   /*icoonies icoo-region:RG-media-query-img; icoo-class:media-query-svg;*/ width:250px !important; margin-top:10px;    
}
@media screen and   (min-width:0) and (max-width:800px)             {
    .icooth-mediaq                  {   width:220px !important; 
    }
}
@media screen and (min-width:0) and (max-width:700px)               {
    .icooth-mediaq                  {   width:180px !important; 
    }
}
@media screen and (min-width:0) and (max-width:600px)               {
    .icooth-mediaq                  {   width:150px !important; 
    }
}
@media screen and (min-width:0) and (max-width:500px)               {
    .icooth-mediaq                         {   width:100px !important; 
    }
}
@media screen and (min-width:0) and (max-width:400px)               {
    .icooth-mediaq                  {   width:80px !important; 
    }
}
/*region RG-media-query-img*/
.media-query-svg #icoo-area-1           {   fill:#ffc0df; opacity:1;
} 
@media screen and (min-width:0) and (max-width:220px)               {
    .media-query-svg *              {   opacity:.4; 
    }
}
@media screen and (min-width:0) and (max-width:180px)               {
    .media-query-svg *              {   opacity:.2; 
    }
    .media-query-svg #icoo-area-2   {   fill:none; stroke:#9b007e; stroke-width:15; 
    }
}
@media screen and (min-width:0) and (max-width:150px)               {
    .media-query-svg *              {   opacity:.2; 
    }
    .media-query-svg #icoo-area-2   {   stroke-width:25; 
    }
}
@media screen and (min-width:0) and (max-width:100px)               {
    .media-query-svg *              {   opacity:0; 
    }
    .media-query-svg #icoo-area-2,
    .media-query-svg #icoo-area-4          {   opacity:.5; 
    }
}
@media screen and (min-width:0) and (max-width:80px) {
    .media-query-svg #icoo-area-2,
    .media-query-svg #icoo-area-4          {   opacity:1; 
    }
}
/*endregion*/





/*#############################  Mode svg ###############################################################################*/


.box-show-area-svg span                                             {   float:left; width:70px; height:70px; margin:10px 10px 0; 
}
.box-show-area-svg span .obj                                        {   padding:0;
}




.box-custom-area-svg span                                           {   margin:10px 10px 0; float:left; width:100px; height:100px; 
}
.box-custom-area-svg .obj                                           {   padding:0;   
}
.icooth-blond-svg #icoo-area-4					                    {	fill:#FF0; stroke-width:5px; stroke:#a68d00;
}
.icooth-blond-svg  #icoo-area-16,
.icooth-blond-svg  #icoo-area-18				                    {	fill:#4b0c00;
}
.icooth-blond-svg  #icoo-area-5,
.icooth-blond-svg #icoo-area-6					                    {	fill:#900;
}
.icooth-green-svg #icoo-area-2								        {	fill:#eeffb5; stroke-width:9; stroke:#237100; 
}
.icooth-green-svg #icoo-area-16,
.icooth-green-svg #icoo-area-18,
.icooth-green-svg #icoo-area-15,
.icooth-green-svg #icoo-area-14								        {	fill:none;	
}
.icooth-green-svg #icoo-area-17,
.icooth-green-svg #icoo-area-19								        {	fill:#237100;	
}
.icooth-green-svg #icoo-area-4								        {	fill:#174c00; 
}
.icooth-green-svg #icoo-area-3,
.icooth-green-svg #icoo-area-7,
.icooth-green-svg#icoo-area-8,
.icooth-green-svg #icoo-area-9								        {	fill:#004c48;	
}

.icooth-picture-svg *                                               {   fill:none; stroke:#ca7ca0; stroke-width:8px;   
}
.icooth-picture-svg #icoo-area-1                                    {   fill:#ffcce4;  
}
.icooth-logo-svg *                                                  {   fill:none;  
}
.icooth-logo-svg #icoo-area-2                                       {   stroke:#9b007e; stroke-width:25; 
}
.icooth-logo-svg #icoo-area-4								        {	fill:#9b007e;
}





.box-svg-responsive                                                 {   float:left; width:10%;
}

.box-svg-fixed                                                      {   float:right; width:40px;
}
.ico-coffee-violet *                                                {   fill:#9b007e; 
}




.box-svg-animate                                                    {   float:left; width:120px;
}
.icooth-svg-animate                                                 {   /*icoonies icoo-region:RG-icooth-svg-animate;*/ 
} 
.icooth-svg-animate  #icoo-area-16,
.icooth-svg-animate  #icoo-area-18                                  {   /*icoonies*/ animation:icootheyeanimate 3s ease-in-out infinite; /* CSS3 */ -moz-animation:icootheyeanimate 3s ease-in-out infinite; /* Firefox */ -webkit-animation:icootheyeanimate 3s ease-in-out infinite; /* Webkit */ 
}
.icooth-svg-animate  #icoo-area-9,
.icooth-svg-animate  #icoo-area-13                                  {   /*icoonies*/ animation:icoothmouthanimate 1s infinite alternate ease-in-out;  -moz-animation:icoothmouthanimate 1s infinite alternate ease-in-out; -webkit-animation:icoothmouthanimate 1s infinite alternate ease-in-out;
}
.icooth-svg-animate  #icoo-area-7                                   {   /*icoonies*/ animation:eyebrows 1s infinite alternate ease-in-out;  -moz-animation:eyebrows 1s infinite alternate ease-in-out; -webkit-animation:eyebrows 1s infinite alternate ease-in-out; 
}
.icooth-svg-animate  #icoo-area-2                                   {   /*icoonies*/ animation:colorface 20s ease-in-out infinite;  -moz-animation:colorface 20s ease-in-out infinite; -webkit-animation:colorface 20s ease-in-out infinite; 
}
.icooth-svg-animate  #icoo-area-4                                   {   /*icoonies*/ animation:colorhair 10s ease-in-out infinite;  -moz-animation:colorhair 10s ease-in-out infinite; -webkit-animation:colorhair 10s ease-in-out infinite; 
}
/*region RG-icooth-svg-animate */
@keyframes icootheyeanimate                                         { 
	95%                         { fill:#008dd3; }
	98%                         { fill:#ffdad7; }
}
@-moz-keyframes icootheyeanimate                                    { 
	95%                         { fill:#008dd3; }
	98%                         { fill:#ffdad7; }
}
@-webkit-keyframes icootheyeanimate                                 { 
	95%                         { fill:#008dd3; }
	98%                         { fill:#ffdad7; }
}


@keyframes icoothmouthanimate                                       { 
	0%                          { transform:none;}
	50%                         { transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);}
    70%                         { transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);}
}
@-moz-keyframes icoothmouthanimate                                  {
	0%     { -moz-transform:none;  }
	50%    { -moz-transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);   }
    70%    { -moz-transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);    }
}
@-webkit-keyframes icoothmouthanimate                               { 
	0%     { -webkit-transform:none; }
	50%    { -webkit-transform:translate(150px, -17px) scale(.9) skew(-18deg,15deg);   }
    70%    { -webkit-transform:translate(150px, -87px) scale(.9) skew(-18deg, 30deg);    }
}


@keyframes eyebrows                                                 { 
    to                      { transform:translate(0, -3px)  }
}
@-moz-keyframes eyebrows                                            { 
    to                      { -moz-transform:translate(0, -3px) }
}
@-webkit-keyframes eyebrows                                         { 
    to                      { -webkit-transform:translate(0, -3px) }
}


@keyframes colorface                                                { 
    0%                      { fill:#ffdad7; }
    50%                     { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                    { fill:#ffdad7; }
}
@-moz-keyframes colorface                                           { 
    0%                      { fill:#ffdad7; }
    50%                     { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                    { fill:#ffdad7; }
}
@-webkit-keyframes colorface                                        { 
    0%                      { fill:#ffdad7; }
    50%                     { fill:#eeffb5; stroke-width:9; stroke:#237100;  }
    100%                    { fill:#ffdad7; }
}


@keyframes colorhair                                                { 
    0%                      { fill:#9b007e; }
    50%                     { fill:#006607;	  }
    100%                    { fill:#9b007e; }
}
@-moz-keyframes colorhair                                           { 
    0%                      { fill:#9b007e; }
    50%                     { fill:#006607;	 }
    100%                    { fill:#9b007e; }
}
@-webkit-keyframes colorhair                                        { 
    0%                      { fill:#9b007e; }
    50%                     { fill:#006607;	  }
    100%                    { fill:#9b007e; }
}
/*endregion*/

.icooth-svg-stroke-animate                                          {   /*icoonies icoo-region:RG-icooth-svg-stroke-animate;*/  
} 
.icooth-svg-stroke-animate *                                        {   /*icoonies*/ fill:none;  
}
.icooth-svg-stroke-animate *                                        {   /*icoonies*/ stroke:#9b007e; stroke-width:5; stroke-dasharray:500; stroke-dashoffset:500; animation: strokeanimate 5s linear infinite; -moz-animation: strokeanimate 5s linear infinite;  -webkit-animation: strokeanimate 5s linear infinite;    
}
/*region RG-icooth-svg-stroke-animate*/
@keyframes strokeanimate                                            {
  from                      { stroke-dashoffset: 1000;}
  to                        { stroke-dashoffset: 0;}
}
@-moz-keyframes strokeanimate                                       { 
  from                      { stroke-dashoffset: 1000;}
  to                        { stroke-dashoffset: 0;}
}
@-webkit-keyframes strokeanimate                                    { 
  from                      { stroke-dashoffset: 1000;}
  to                        { stroke-dashoffset: 0;}
}
/*endregion*/


.pupu-svg-animate                                                   {   /*icoonies icoo-region:RG-pupu-svg-animate; icoo-preserveAspectRatio:xMaxYMin;*/   
}
.pupu-svg-animate #icoo-area-2                                      {   /*icoonies*/ fill:#800000; 
}
.pupu-svg-animate #icoo-area-8                                      {   /*icoonies*/ animation:fly1 1s linear infinite;  -moz-animation:fly1 1s linear infinite; -webkit-animation:fly1 1s linear infinite; 
}
.pupu-svg-animate #icoo-area-9                                      {   /*icoonies*/ animation:fly2 1s linear infinite;  -moz-animation:fly2 1s linear infinite; -webkit-animation:fly2 1s linear infinite; 
}
.pupu-svg-animate #icoo-area-7,
.pupu-svg-animate #icoo-area-6,
.pupu-svg-animate #icoo-area-1                                      {   /*icoonies*/ animation:show 2s 1s linear infinite;  -moz-animation:show 2s 1s linear infinite; -webkit-animation:show 2s 1s linear infinite; opacity:0; 
}
/*region RG-pupu-svg-animate */
@keyframes fly1                                                     { 
   from                     { transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@-moz-keyframes fly1                                                {
   from                     { -moz-transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { -moz-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@-webkit-keyframes fly1                                             { 
   from                     { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
   to                       { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}


@keyframes fly2                                                     { 
   from                     { transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { transform: rotate(360deg) translateX(-40px) rotate(-360deg); }
}
@-moz-keyframes fly2                                                { 
   from                     { -moz-transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { -moz-transform: rotate(360deg) translateX(-30px) rotate(-360deg); }
}
@-webkit-keyframes fly2 { 
   from                     { -webkit-transform: rotate(0deg) translateX(-30px) rotate(0deg); }
   to                       { -webkit-transform: rotate(360deg) translateX(-30px) rotate(-360deg); }
}


@keyframes show                                                     {
   from                     { opacity:0; }
   to                       { opacity:1 }
}
@-moz-keyframes show                                                { 
   from                     { opacity:0; }
   to                       { opacity:1 }
}
@-webkit-keyframes show                                             { 
   from                     { opacity:0; }
   to                       { opacity:1 }
}
/*endregion*/





.box-svg-mediaq                                                         {   width:250px !important; display:block; margin-top:10px; 
}
.icooth-mediaq-svg #icoo-area-1                                         {   fill:#ffc0df;
}
@media screen and (min-width:0) and (max-width:800px)                   {
    .box-svg-mediaq                        {   width:220px !important; 
    }
    .icooth-mediaq-svg *                   {   opacity:.4; 
    }
    .icooth-mediaq-svg #icoo-area-1        {   opacity:1; 
    }
}
@media screen and (min-width:0) and (max-width:700px)                   {
    .box-svg-mediaq                        {   width:180px !important; 
    }
    .icooth-mediaq-svg  *                  {   opacity:.2; 
    }
    .icooth-mediaq-svg  #icoo-area-2       {   fill:none; stroke:#9b007e; stroke-width:15; 
    }
}
@media screen and (min-width:0) and (max-width:600px)                   {
    .box-svg-mediaq                         {   width:150px !important; 
    }
    .icooth-mediaq-svg *                     {   opacity:.2; 
    }
    .icooth-mediaq-svg #icoo-area-2          {   stroke-width:25; 
    }
}
@media screen and (min-width:0) and (max-width:500px)                   {
    .box-svg-mediaq                          {   width:100px !important; 
    }
    .icooth-mediaq-svg *                    {   opacity:0; 
    }
    .icooth-mediaq-svg #icoo-area-2,
    .icooth-mediaq-svg #icoo-area-4         {   opacity:.5; 
    }
}
@media screen and (min-width:0) and (max-width:400px)                   {
    .box-svg-mediaq                         {   width:80px !important; 
    }
    .icooth-mediaq-svg #icoo-area-2,
    .icooth-mediaq-svg #icoo-area-4          {   opacity:1; 
    }
}