@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

img[src*="data:image/svg+xml;base64"], svg              {  /*icoonies*/ width: 100%; height:100%; display:block; 
}
.obj                                                    { /*icoonies*/  width: 100%; height:100%; display:table;  position:relative; padding-top:100%; 
}
.obj svg                                                {  /*icoonies*/ width: 100%; height: 100%; display:table-cell; position:absolute; top:0; left:0; 
}
.icoonies-relative                                      {  /*icoonies*/ position:relative; z-index:2;
}
.icoonies-bg.zindex-area                                {  /*icoonies*/ z-index:1000;
}
.icoo-modal-opacity                 					{   position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(2, 2, 2, 0.7); z-index:9000000;
}
.icoo-modal                         					{   width: 80%; height: 80%; font-size:12px; padding:1%; border-radius:10px;  margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background:#fff;  border-radius:10px; z-index:900000; -webkit-box-shadow: 1px 1px 9px 0px #000; -moz-box-shadow:1px 1px 9px 0px #000; box-shadow:1px 1px 9px 0px #000; text-transform:uppercase; 
}
.icoo-overflow-modal                					{   position:relative; height:100%; overflow:auto; 
}
.icoo-overflow-modal p                					{ 	font-size:120% !important; color:#000 !important; font-family:'Roboto', Arial, Tahoma, Verdana, sans-serif !important;  font-weight:300; text-transform:none !important;
}
.icoo-close-modal                 				        {   position:absolute; top:-10px; right:-5px; box-sizing:border-box; z-index:900000; padding:5px;  background:#9B007E; border-radius:10px; color:#fff; text-align:center; box-sizing:border-box; text-decoration:none; opacity:.7; font-family:'Roboto', Arial, Tahoma, Verdana, sans-serif !important; font-weight:300; 
}
.icoo-close-modal:hover                 			    {   color:#fff; opacity:1;
}
.icoo-aree-modal                     					{   max-width:300px; overflow-y:auto; overflow-x:hidden; margin:auto; margin-top:20px;
}
.icoo-aree-modal *							{	stroke-width:3 !important; stroke:#000 !important; /*fill:transparent;*/
}
.icoo-showarea                    						{   cursor:help;
}
.IE                                                     {   background-size:100% !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*="data:image/svg+xml;base64"],svg             {   width: 100%; height:100%;    display:block;
  }
}

@media screen and (min-width:0) and (max-width:600px) {
.icoo-overflow-modal                					{   
}
}